.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px; /* Adjust as needed */
  padding: 20px; /* Add padding for spacing */
}

.gradient-background {
  /* Blue Turquoise Gradient Background */
  background: linear-gradient(to bottom, #0077cc, #00b3b3, #0077cc);
  /* Set the height to cover the entire viewport */
  height: 85vh;
  width: 1900px;
  animation: gradientAnimation 5s infinite alternate;
  /* Add any additional styles as needed */
}

.content h1 {
  color: aliceblue;
  margin-bottom: 40px; /* Adjust as needed */
}

.content img {
  /* Add styling for the image */
  margin-left: 950px;
  width: 100%; /* Make the image fill its container */
  max-width: 600px; /* Adjust as needed */
  animation: bounceUpDown 1.5s infinite alternate;
}

.content img:hover {
  transform: scale(1.4);
}

@keyframes bounceUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-40px); /* Adjust the distance as needed */
  }
}
