.glassmorphism-navbar {
  background: linear-gradient(to top, #0077cc, #0077cc);
  backdrop-filter: blur(10px);

  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-content {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  transition: 0.3 ease;
}

.navbar-logo h1 {
  color: #c2e9fb;
}
.navbar-logo:hover {
  scale: 1.2;
}

.navbar-content h1 {
  font-size: 40px;
}

/* Add styles for navbar-links if needed */
.navbar-links {
  margin-left: 700px;
  display: flex;
  gap: 40px;
}

.navbar-links a {
  color: #c2e9fb; /* Adjust the color as needed */
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.navbar-links a:hover {
  color: #a6c0fe;
  scale: 1.2;
}

.navbar-content img {
  width: 100px;
  height: auto;
}
