*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
overflow: hidden;
}

video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.wrapper{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(150,150,150,0.182);
    backdrop-filter: blur(5px);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2em 15em;
    align-items: center;
}

header nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 6em;
}

header nav ul a{
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

header nav ul a:hover{
    transform: scale(1.2);
    border-bottom: 3px solid rgb(18, 87, 235);
}

.logo{
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 3px;
    transition: 0.3 ease;
}

.logo span{
    color: #3498db;
}

.logo:hover{
    transform: scale(1.1);
}

.content{
    width: 100%;
    position:absolute;
    top:30%
}

.left-col{
    margin-left: 10%;
}

.left-col h1{
    font-size: 40px;
    color: white;
}

.left-col span{
    color: #3498db;
}

.right-col{
    display: flex;
    align-items: center;
    float: right;
    padding: 15px 40px;
    margin-right: 75%;
    margin-top: 200px;
    font-size: 30px;
    color: white;
    font-weight: 600;
    border:2px solid white;
    border-radius:2em
}

.right-col p {
    margin-right: 15px;
}

.right-col .play{
    transition: 0.3 ease;
    max-width: 50px;
    cursor:pointer;
}

.right-col .play:hover{
transform:scale(1.1);
}

.hah{
    position: absolute; /* Make the position absolute to place it relative to the nearest positioned ancestor */
    top: 35%; /* Position it 50% from the top of the screen */
    left: 75%; /* Position it 50% from the left of the screen */
    transform: translate(-50%, -50%); /* Shift it back by half of its own width and height to center it */
    width: 650px; /* Maintain the width */
    transition: 0.3s ease;
}

.hah:hover{
    transform: scale(1.1) translate(-50%, -50%); /* Maintain the center alignment even on hover */
}